{% extends "inventaire/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h4 class="mr-2">{{ object.Nom }}<h4>
                <small class="text-muted">{{ object.Description }}</small>
            </div>
                <p><h6>Stock: {{ object.QuantiteStock }}</h6></p>
                <p><h5>Seuil: {{ object.SeuilMinimum }}</h5></p>
            <div>
                {% if perms.inventaire.add_produit and perms.inventaire.change_produit %}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'produit-update' object.id %}">Mettre a Jour</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'produit-delete' object.id %}">Effacer</a>                
                {% endif %}
            </div>
        </div>
    </article>
{% endblock content %}